USE [master]
GO
/****** Object:  Database [Aulanet]    Script Date: 29/03/2026 10:10:11 p. m. ******/
CREATE DATABASE [Aulanet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aulanet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS02\MSSQL\DATA\Aulanet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aulanet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS02\MSSQL\DATA\Aulanet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aulanet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aulanet]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] NOT NULL,
	[Clave] [varchar](2) NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Abrev] [varchar](10) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecciones]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecciones](
	[IdLeccion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Idioma] [varchar](50) NULL,
	[Nivel] [varchar](30) NULL,
	[ImagenReferencia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[IdMunicipio] [int] NOT NULL,
	[EstadoId] [int] NOT NULL,
	[Clave] [varchar](3) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[IdPregunta] [int] IDENTITY(1,1) NOT NULL,
	[IdLeccion] [int] NOT NULL,
	[Pregunta] [varchar](max) NOT NULL,
	[TipoPregunta] [varchar](50) NULL,
	[ImagenReferencia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntasCorrectas]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntasCorrectas](
	[IdPreguntaCorrect] [int] IDENTITY(1,1) NOT NULL,
	[IdPregunta] [int] NOT NULL,
	[IdRespuesta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPreguntaCorrect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgresoUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgresoUsuario](
	[IdProgreso] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdLeccion] [int] NOT NULL,
	[Puntaje] [int] NULL,
	[FechaUltimoIntento] [datetime] NULL,
	[TiempoSegundos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuarioLeccion] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recursos]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recursos](
	[IdRecurso] [int] IDENTITY(1,1) NOT NULL,
	[IdPregunta] [int] NULL,
	[Tipo] [varchar](50) NULL,
	[Url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[IdRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IdPregunta] [int] NOT NULL,
	[Respuesta] [varchar](255) NOT NULL,
	[ImagenReferencia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasUsuario](
	[IdRespuestaUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdLeccion] [int] NOT NULL,
	[IdPregunta] [int] NOT NULL,
	[IdRespuestaElegida] [int] NOT NULL,
	[EsCorrecta] [bit] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRespuestaUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[ApellidoP] [varchar](100) NOT NULL,
	[ApellidoM] [varchar](100) NOT NULL,
	[Edad] [tinyint] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Estado] [int] NOT NULL,
	[Municipio] [int] NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Passwords] [varchar](255) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[ImagenPerfil] [varchar](255) NULL,
	[IdiomaSeleccionado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RU_Leccion_EsCorrecta]    Script Date: 29/03/2026 10:10:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RU_Leccion_EsCorrecta] ON [dbo].[RespuestasUsuario]
(
	[IdLeccion] ASC,
	[EsCorrecta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RU_Usuario_Leccion]    Script Date: 29/03/2026 10:10:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RU_Usuario_Leccion] ON [dbo].[RespuestasUsuario]
(
	[IdUsuario] ASC,
	[IdLeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Estados] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Municipios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProgresoUsuario] ADD  DEFAULT ((0)) FOR [Puntaje]
GO
ALTER TABLE [dbo].[RespuestasUsuario] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [FK_MunicipioEstado] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [FK_MunicipioEstado]
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD FOREIGN KEY([IdLeccion])
REFERENCES [dbo].[Lecciones] ([IdLeccion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreguntasCorrectas]  WITH CHECK ADD FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Preguntas] ([IdPregunta])
GO
ALTER TABLE [dbo].[PreguntasCorrectas]  WITH CHECK ADD FOREIGN KEY([IdRespuesta])
REFERENCES [dbo].[Respuestas] ([IdRespuesta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgresoUsuario]  WITH CHECK ADD FOREIGN KEY([IdLeccion])
REFERENCES [dbo].[Lecciones] ([IdLeccion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgresoUsuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recursos]  WITH CHECK ADD FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Preguntas] ([IdPregunta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Preguntas] ([IdPregunta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RespuestasUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasUsuario] CHECK CONSTRAINT [FK_RespuestasUsuario_Usuario]
GO
ALTER TABLE [dbo].[RespuestasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RU_Pregunta] FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Preguntas] ([IdPregunta])
GO
ALTER TABLE [dbo].[RespuestasUsuario] CHECK CONSTRAINT [FK_RU_Pregunta]
GO
ALTER TABLE [dbo].[RespuestasUsuario]  WITH CHECK ADD  CONSTRAINT [FK_RU_Respuesta] FOREIGN KEY([IdRespuestaElegida])
REFERENCES [dbo].[Respuestas] ([IdRespuesta])
GO
ALTER TABLE [dbo].[RespuestasUsuario] CHECK CONSTRAINT [FK_RU_Respuesta]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioEstado] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_UsuarioEstado]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioMunicipio] FOREIGN KEY([Municipio])
REFERENCES [dbo].[Municipios] ([IdMunicipio])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_UsuarioMunicipio]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]

@IdUsuario INT,
@Nombre varchar(100),
@ApellidoP varchar(100),
@ApellidoM varchar(100),
@Edad tinyint,
@FechaNacimiento date,
@Estado int,
@Municipio int,
@Correo varchar(150),
@Passwords varchar(255),
@ImagenPerfil varchar(255),
@IdiomaSeleccionado varchar(50)

AS
BEGIN

UPDATE Usuarios
SET 
    Nombre = @Nombre,
    ApellidoP = @ApellidoP,
    ApellidoM = @ApellidoM,
    Edad = @Edad,
    FechaNacimiento = @FechaNacimiento,
    Estado = @Estado,
    Municipio = @Municipio,
    Correo = @Correo,
    Passwords = @Passwords,
    ImagenPerfil = @ImagenPerfil,
    IdiomaSeleccionado = @IdiomaSeleccionado

WHERE IdUsuario = @IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamenCompletado]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExamenCompletado]
    @IdUsuario INT,
    @IdLeccion INT
AS
BEGIN
    SELECT COUNT(*) AS Total
    FROM ProgresoUsuario
    WHERE IdUsuario = @IdUsuario
    AND IdLeccion = @IdLeccion
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamenesPorUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExamenesPorUsuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        l.IdLeccion,
        l.Nombre,
        l.ImagenReferencia,

        (
            SELECT COUNT(*)
            FROM ProgresoUsuario p
            WHERE p.IdLeccion = l.IdLeccion
            AND p.IdUsuario = @IdUsuario
        ) AS Completado

    FROM Lecciones l
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUsuario]

@Correo varchar(150),
@Passwords varchar(255)

AS
BEGIN

SELECT *
FROM Usuarios
WHERE Correo = @Correo
AND Passwords = @Passwords

END
GO
/****** Object:  StoredProcedure [dbo].[sp_MejorPuntaje]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MejorPuntaje]
    @IdLeccion INT
AS
BEGIN
    SELECT MAX(Puntaje) AS MejorPuntaje
    FROM ProgresoUsuario
    WHERE IdLeccion = @IdLeccion
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PreguntasDetalle]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PreguntasDetalle]
    @IdUsuario INT,
    @IdLeccion INT
AS
BEGIN
    SELECT 
        p.Pregunta,
        ISNULL(r.Respuesta, 'No respondida') AS RespuestaElegida,
        rc.Respuesta AS RespuestaCorrecta
    FROM Preguntas p

    LEFT JOIN RespuestasUsuario ru 
        ON ru.IdPregunta = p.IdPregunta 
        AND ru.IdUsuario = @IdUsuario
        AND ru.IdLeccion = @IdLeccion

    LEFT JOIN Respuestas r 
        ON ru.IdRespuestaElegida = r.IdRespuesta

    JOIN PreguntasCorrectas pc 
        ON pc.IdPregunta = p.IdPregunta

    JOIN Respuestas rc 
        ON rc.IdRespuesta = pc.IdRespuesta

    WHERE p.IdLeccion = @IdLeccion
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PuntajeUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PuntajeUsuario]
    @IdUsuario INT,
    @IdLeccion INT
AS
BEGIN
    SELECT Puntaje
    FROM ProgresoUsuario
    WHERE IdUsuario = @IdUsuario
    AND IdLeccion = @IdLeccion
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Ranking]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Ranking]
    @IdLeccion INT
AS
BEGIN
    SELECT 
        u.Nombre + ' ' + u.ApellidoP AS NombreUsuario,
        p.Puntaje,
        p.TiempoSegundos
    FROM ProgresoUsuario p
    JOIN Usuarios u
        ON p.IdUsuario = u.IdUsuario
    WHERE p.IdLeccion = @IdLeccion
    ORDER BY p.Puntaje DESC, p.TiempoSegundos ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]

@Nombre varchar(100),
@ApellidoP varchar(100),
@ApellidoM varchar(100),
@Edad tinyint,
@FechaNacimiento date,
@Estado int,
@Municipio int,
@Correo varchar(150),
@Passwords varchar(255),
@ImagenPerfil varchar(255),
@IdiomaSeleccionado varchar(50)

AS
BEGIN

INSERT INTO Usuarios
(
Nombre,
ApellidoP,
ApellidoM,
Edad,
FechaNacimiento,
Estado,
Municipio,
Correo,
Passwords,
ImagenPerfil,
IdiomaSeleccionado
)

VALUES
(
@Nombre,
@ApellidoP,
@ApellidoM,
@Edad,
@FechaNacimiento,
@Estado,
@Municipio,
@Correo,
@Passwords,
@ImagenPerfil,
@IdiomaSeleccionado
)

-- ESTA ES LA LINEA IMPORTANTE
SELECT SCOPE_IDENTITY() AS IdUsuario

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuario]    Script Date: 29/03/2026 10:10:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuario]
    @IdUsuario INT
AS
BEGIN
    SELECT 
        Nombre,
        ApellidoP,
        ApellidoM,
        Edad,
        ImagenPerfil
    FROM Usuarios
    WHERE IdUsuario = @IdUsuario
END
GO
USE [master]
GO
